2022/07-citython/resources/flows-flights.json
[
    {
        "id": "8427d32c16857254",
        "type": "tab",
        "label": "stiahnutie, spracovanie a publikovanie udajov",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e59b830af760746",
        "type": "tab",
        "label": "worldmap",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6c97b41c5d1da61",
        "type": "tab",
        "label": "aktualizacia db",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d82f678023024657",
        "type": "tab",
        "label": "REST API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dfac98d015d7cc92",
        "type": "tab",
        "label": "www",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ec081159bd20627c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5d03121e8f760842",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a3487fb21b3ec01d",
        "type": "inject",
        "z": "8427d32c16857254",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "6",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 480,
        "wires": [
            [
                "70406ed15916229f"
            ]
        ]
    },
    {
        "id": "70406ed15916229f",
        "type": "http request",
        "z": "8427d32c16857254",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://opensky-network.org/api/states/all?lamin=47.4912&lomin=16.4517&lamax=49.8981&lomax=25.9378",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 450,
        "y": 480,
        "wires": [
            [
                "bbf35f2cbf83933f"
            ]
        ]
    },
    {
        "id": "bbf35f2cbf83933f",
        "type": "handlebars",
        "z": "8427d32c16857254",
        "name": "",
        "sourceProperty": "payload",
        "targetProperty": "payload",
        "query": "[\n    {{#each states}}\n    {\n        \"name\": \"{{0}}\",\n        \"icao24\": \"{{0}}\",\n        \"callsign\": \"{{1}}\",\n        \"origin_country\": \"{{2}}\",\n        \"lon\": {{5}},\n        \"lat\": {{6}},\n        \"icon\": \"plane\",\n        \"speed\": {{9}},\n        \"last_contact\": {{4}},\n        \"heading\": {{10}},\n        \"ttl\": 60\n    }{{#unless @last}},{{/unless}}\n    {{/each}}\n]\n",
        "x": 670,
        "y": 480,
        "wires": [
            [
                "9ebd78f78bb85cd8"
            ]
        ]
    },
    {
        "id": "9ebd78f78bb85cd8",
        "type": "json",
        "z": "8427d32c16857254",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 870,
        "y": 480,
        "wires": [
            [
                "4cbb04f7def81b0b"
            ]
        ]
    },
    {
        "id": "4cbb04f7def81b0b",
        "type": "mqtt out",
        "z": "8427d32c16857254",
        "name": "",
        "topic": "ossconf/flights",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ec081159bd20627c",
        "x": 1080,
        "y": 480,
        "wires": []
    },
    {
        "id": "4d2c40cf977f3578",
        "type": "worldmap",
        "z": "2e59b830af760746",
        "name": "",
        "lat": "49.224773",
        "lon": "18.720703",
        "zoom": "8",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "bacf1ba30ded52d4",
        "type": "mqtt in",
        "z": "2e59b830af760746",
        "name": "",
        "topic": "ossconf/flights",
        "qos": "2",
        "datatype": "json",
        "broker": "ec081159bd20627c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "4d2c40cf977f3578"
            ]
        ]
    },
    {
        "id": "c436f79d255a5e16",
        "type": "mqtt in",
        "z": "f6c97b41c5d1da61",
        "name": "",
        "topic": "ossconf/flights",
        "qos": "2",
        "datatype": "json",
        "broker": "ec081159bd20627c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "e6112befa39c2c1e"
            ]
        ]
    },
    {
        "id": "e6112befa39c2c1e",
        "type": "handlebars",
        "z": "f6c97b41c5d1da61",
        "name": "",
        "sourceProperty": "payload",
        "targetProperty": "payload",
        "query": "{\n{{#each this}}\n    \"{{ icao24 }}\": {\n        \"icao24\": \"{{icao24}}\",\n        \"callsign\": \"{{callsign}}\",\n        \"origin_country\": \"{{origin_country}}\",\n        \"lon\": {{lon}},\n        \"lat\": {{lat}},\n        \"speed\": {{speed}},\n        \"last_contact\": {{last_contact}},\n        \"heading\": {{heading}}\n    }{{#unless @last}},{{/unless}}\n{{/each}}\n}",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "a7b4ce7230397acf"
            ]
        ]
    },
    {
        "id": "a7b4ce7230397acf",
        "type": "json",
        "z": "f6c97b41c5d1da61",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 180,
        "wires": [
            [
                "da23627d9bd25131"
            ]
        ]
    },
    {
        "id": "da23627d9bd25131",
        "type": "change",
        "z": "f6c97b41c5d1da61",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "flights",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a3e9c7c4858381b1",
        "type": "http in",
        "z": "d82f678023024657",
        "name": "",
        "url": "/api/flights/:flight",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "df774b1afd01ccbc"
            ]
        ]
    },
    {
        "id": "df774b1afd01ccbc",
        "type": "change",
        "z": "d82f678023024657",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "flights[msg.req.params.flight]",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 160,
        "wires": [
            [
                "373e4ea2ead1a603"
            ]
        ]
    },
    {
        "id": "373e4ea2ead1a603",
        "type": "http response",
        "z": "d82f678023024657",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "c4430e13be3a7a4f",
        "type": "http in",
        "z": "dfac98d015d7cc92",
        "name": "",
        "url": "/www/:flight",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "8147336cf0395dcf"
            ]
        ]
    },
    {
        "id": "4a2d6d94dead5648",
        "type": "http response",
        "z": "dfac98d015d7cc92",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "f71c943f8ea0a2b9",
        "type": "template",
        "z": "dfac98d015d7cc92",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h1>Flight nr {{payload.callsign}}</h1>\n\n<ul>\n    <li>\n        <b>ICAO24</b>: {{ payload.icao24 }}\n    </li>\n    <li>\n        <b>Callsign</b>: {{ payload.callsign}}\n    </li>\n    <li>\n        <b>Country of Origin</b>: {{ payload.origin_country }}\n    </li>\n    <li>\n        <b>Longitude</b>: {{ payload.lon }}\n    </li>\n    <li>\n        <b>Latitude</b>: {{ payload.lat }}\n    </li>\n    <li>\n        <b>Speed</b>: {{ payload.speed }}\n    </li>\n    <li>\n        <b>Heading</b>: {{ payload.heading }}\n    </li>\n    <li>\n        <b>Last Contact</b>: {{ payload.last_contact }}\n    </li>\n</ul>",
        "output": "str",
        "x": 820,
        "y": 200,
        "wires": [
            [
                "4a2d6d94dead5648"
            ]
        ]
    },
    {
        "id": "8f8d7c40ea121a0e",
        "type": "change",
        "z": "dfac98d015d7cc92",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "flights[msg.req.params.flight]",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 200,
        "wires": [
            [
                "f71c943f8ea0a2b9"
            ]
        ]
    },
    {
        "id": "8147336cf0395dcf",
        "type": "switch",
        "z": "dfac98d015d7cc92",
        "name": "",
        "property": "flights",
        "propertyType": "global",
        "rules": [
            {
                "t": "hask",
                "v": "req.params.flight",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "8f8d7c40ea121a0e"
            ],
            [
                "fc35b9e537289bcd"
            ]
        ]
    },
    {
        "id": "fc35b9e537289bcd",
        "type": "template",
        "z": "dfac98d015d7cc92",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h1>Flight {{req.params.flight}} not found</h1>",
        "output": "str",
        "x": 600,
        "y": 280,
        "wires": [
            [
                "55ef808473c1fdb0"
            ]
        ]
    },
    {
        "id": "55ef808473c1fdb0",
        "type": "http response",
        "z": "dfac98d015d7cc92",
        "name": "",
        "statusCode": "404",
        "headers": {},
        "x": 780,
        "y": 280,
        "wires": []
    }
]