2021/06-nodered.tips.and.tricks/resources/gpio.out.json
[{"id":"cc423925.4a165","type":"tab","label":"GPIO Out","disabled":false,"info":""},{"id":"8f42f70.f314c88","type":"rpi-gpio out","z":"cc423925.4a165","name":"","pin":"37","set":true,"level":"0","freq":"","out":"out","x":540,"y":220,"wires":[]},{"id":"ae565b98.d1468","type":"inject","z":"cc423925.4a165","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":330,"y":220,"wires":[["8f42f70.f314c88"]]},{"id":"4a7c64b2.ce3144","type":"inject","z":"cc423925.4a165","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":330,"y":140,"wires":[["8f42f70.f314c88"]]},{"id":"8cb4cea7.92dac8","type":"inject","z":"cc423925.4a165","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":300,"wires":[["a3e4e67d.4c63f"]]},{"id":"73a395d8.bd3614","type":"debug","z":"cc423925.4a165","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":300,"wires":[]},{"id":"a3e4e67d.4c63f","type":"trigger","z":"cc423925.4a165","name":"","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":320,"y":300,"wires":[["73a395d8.bd3614","8f42f70.f314c88"]]}]