2021/06-nodered.tips.and.tricks/resources/gpio.in.json
[{"id":"6fbdddac.91e6d4","type":"tab","label":"GPIO In","disabled":false,"info":""},{"id":"10be3eaa.fd2051","type":"rpi-gpio in","z":"6fbdddac.91e6d4","name":"","pin":"40","intype":"tri","debounce":"25","read":false,"x":90,"y":240,"wires":[["e5c4c867.9d787"]]},{"id":"b177df6c.0af4d","type":"play audio","z":"6fbdddac.91e6d4","name":"","voice":"","x":650,"y":200,"wires":[]},{"id":"f678ca5f.4010d","type":"debug","z":"6fbdddac.91e6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":280,"wires":[]},{"id":"e5c4c867.9d787","type":"switch","z":"6fbdddac.91e6d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":240,"wires":[["8be2347c.526668"]]},{"id":"8be2347c.526668","type":"change","z":"6fbdddac.91e6d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tlačidlo bolo stlačené","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":240,"wires":[["b177df6c.0af4d","f678ca5f.4010d"]]}]