2021/06-nodered.tips.and.tricks/resources/play.audio.json
[{"id":"350d2875.5418f","type":"tab","label":"play audio","disabled":false,"info":""},{"id":"d4d2b862.e073f","type":"play audio","z":"350d2875.5418f","name":"","voice":"2114","x":590,"y":300,"wires":[]},{"id":"272e5982.d8ed86","type":"inject","z":"350d2875.5418f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"dnes je pekné počasie","payloadType":"str","x":340,"y":240,"wires":[["d4d2b862.e073f"]]},{"id":"97cb74c6.56751","type":"inject","z":"350d2875.5418f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":360,"wires":[["15effec9.c84261"]]},{"id":"15effec9.c84261","type":"file in","z":"350d2875.5418f","name":"","filename":"/home/pi/ringing.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":340,"y":360,"wires":[["d4d2b862.e073f"]]}]