2021/06-nodered.tips.and.tricks/resources/read.from.csv.json
[{"id":"aa2fac75.60d4c8","type":"tab","label":"nacitanie dat z CSV suboru","disabled":false,"info":""},{"id":"95266af9.86b2a","type":"csv","z":"aa2fac75.60d4c8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":730,"y":220,"wires":[["dc6f9f0.7a5476","a1890f23.4063"]]},{"id":"dc6f9f0.7a5476","type":"debug","z":"aa2fac75.60d4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":220,"wires":[]},{"id":"5fad0482.917fdc","type":"file in","z":"aa2fac75.60d4c8","name":"","filename":"/data/weather.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":330,"y":220,"wires":[["5e13d9fb.17528"]]},{"id":"a34d0490.f8c018","type":"inject","z":"aa2fac75.60d4c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":220,"wires":[["5fad0482.917fdc"]]},{"id":"5e13d9fb.17528","type":"delay","z":"aa2fac75.60d4c8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":220,"wires":[["95266af9.86b2a"]]},{"id":"a1890f23.4063","type":"mqtt out","z":"aa2fac75.60d4c8","name":"","topic":"makaci/weather","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cbc08b23.76c38","x":930,"y":300,"wires":[]},{"id":"cbc08b23.76c38","type":"mqtt-broker","name":"broker.hivemq.com","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]